# ================================
# CORE DEEP LEARNING
# ================================
tensorflow==2.13.0
keras==2.13.1

# ================================
# NLP / TRANSFORMERS
# ================================
transformers==4.33.3

# ================================
# DATA & ML & DL
# ================================
numpy==1.24.3
pandas==2.0.3
scikit-learn==1.3.0
joblib==1.3.2
gymnasium==0.28.1

# ================================
# VISUALIZATION
# ================================
matplotlib==3.7.2
seaborn==0.13.2
tqdm==4.66.1

# ================================
# TEXT PREPROCESSING
# ================================
Sastrawi==1.0.1
emoji==2.10.1
typing_extensions==4.5.0

# ================================
# STREAMLIT (FRONTEND)
# ================================
streamlit==1.30.0

# ================================
# JUPYTER / KERNEL (WAJIB STABIL)
# ================================
ipykernel==6.29.5
ipython==8.12.0
jupyter-client==8.2.0
traitlets==5.9.0


